<h1>Listing questions</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Question</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.number %></td>
    <td><%= question.question %></td>
    <td><%= question.a %></td>
    <td><%= question.b %></td>
    <td><%= question.c %></td>
    <td><%= question.d %></td>
    <td><%= question.answer %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
<%= link_to 'Management', '/clickers/management' %>
<%= link_to 'Home', '/clickers/' %>
